<div class="well">
  <div class="form-horizontal">
    <%= form_tag(identicon_generators_path) do %>
      <div class="form-group">
        <label class="control-label col-sm-2">Identity</label>
        <div class="col-sm-10">
          <%= text_field_tag "id", params[:id], class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= submit_tag "GENERATE", class: "btn btn-default" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
